body {
	font-family: 'Playfair Display', serif !important;
}
.welcome {
	position: relative;

}

.welcome img {
	left: 0;
	top: 0;
	width: 100%;
}


.about-me {
	padding: 2rem;
}

.about-me img {
	width: 275px;
	height: 275px;
	margin-bottom: 1rem;
}

.about-me h2 {
}

.portfolio {
	padding: 2rem;
	background-color: powderblue;
}