
body {
	font-family: 'Playfair Display', serif !important;
}

.welcome {
	background: url("beverage-computer-flower-948888.jpg");
	background-size: cover;
	margin-bottom: .5rem;
	height: 450px;
	width: 100%;

}

.welcome h1 {
	padding-top: .3rem;
	margin-left: 2rem;
}

.welcome p {
	font-size: 20px;
	margin-left: 2.2rem;
}


.about-me {
	background-color: aliceblue;
	padding: 2rem;
}

.about-me img {
	width: 250px;
	height: 250px;
	margin-bottom: 1rem;
}


.portfolio {
	padding: 2rem;
}

.contact{
	background-color: aliceblue;
	padding-bottom: 2rem;
}

.contact h2{
	padding: 2rem;
}


footer p {
	margin-top: .6rem;
}

.fab {
	padding: .3rem;
	color: gray;
}